.header {
position: relative;
width: 100%;
height: 102px;
left: 0px;
top: 0px;

background: #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.vanity {
position: absolute;
width: 234px;
height: 102px;
left: 553px;
top: 0px;
background: url(./images/image\ 1.png);
}

.banner {
position: absolute;
width: 100%;
height: 833px;
top: 102px;
background: url(./images/image\ 6.png);
}
.banner-content {
  position: absolute;
width: 190px;
left: 163px;
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;

color: #FFFFFF;
}
.vanity-input {
  position: absolute;
    width: 265px;
    height: 34px;
    left: 263px;
    top: 55px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 28.5px;
    background: none;
}
.vanity-search {
  position: absolute;
left: 74.18%;
right: 12.29%;
top: 64px;
bottom: 86.38%;

background: rgba(255, 255, 255, 0.7);
color: #FFFFFF;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF;
  opacity: 1; /* Firefox */
  padding-left: 10px;
}

.zara {
  text-align: -webkit-right;
  position: relative;
  right: 90px;
  top: 94px;
}
.zara img {
  width: 347px;
}
.zara span {
font-family: Nimbus Roman No9 L;
font-style: italic;
font-weight: normal;
font-size: 96px;
line-height: 115px;

color: #FFFFFF;
}

.footer-banner {
position: absolute;
width: 100%;
height: 387px;
left: 0px;
background: url(./images/image\ 11.png);
opacity: 0.3;
}
.overlay {
  position: absolute;
width: 100%;
height: 387px;
left: 0px;
background: rgba(16, 16, 16, 0.85);
}
.vanity-logo {
  height: 67px;
    width: 154px;
    position: relative;
    top: 23px;
}
.footer-pera {
  position: absolute;
width: 565px;
height: 58px;
left: 437px;
top: 142px;
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
text-align: center;
color: #FFFFFF;
}
.footer-items {
  position: relative;
    top: 140px;
}
.footer-items ul{
  list-style: none;
  text-align: center;
  color: #FFFFFF;
}
.footer-items li {
  display: inline-block;
}
.footer-items a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding: 15px;
  font-size: 17px;
  font-family: Helvetica;
}
.fa-angle-right {
   color: #BB8119;
}
.social-media {
  position: relative;
  top: 115px;
}
.social-media ul {
  list-style: none;
  text-align: center;
}
.social-media li {
  display: inline-block;
}
.social-media a {
  text-decoration:  none;
  color: #FFFFFF;
  display: block;
  padding: 15px;
  font-size: 17px;
  font-family: Helvetica;
}
.mans-banner {
  position: relative;
  width: 100%;
  height: 833px;
  background: url(./images/image\ 23.png);
}
.mans-banner1 {
  position: relative;
  width: 100%;
  height: 833px;
  background: url(./images/image\ 20.png);
}
.Ultimate {
  position: absolute;
    width: 707px;
    height: 172px;
    left: 366px;
    top: 519px;
    background: rgba(0, 0, 0, 0.27);
}
.Ultimate1 {
  position: absolute;
    width: 707px;
    height: 172px;
    left: 366px;
    top: 519px;
    background: rgba(0, 0, 0, 0.27);
}
.Ultimate h1 {
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 42px;
line-height: 124.49%;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.Ultimate1 h1 {
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 42px;
line-height: 124.49%;
letter-spacing: 0.02em;
color: #FFFFFF;
position: relative;
top: 35px;
}
.Ultimate h3 {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 124.49%;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.brand h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  position: relative;
    left: 163px;
    color: #FFFFFF;
}
.brand-man {
  position: absolute;
width: 222px;
height: 71px;
left: 147px;
top: 189px;
    background: rgba(0, 0, 0, 0.27);
}
.Kids-banner {
    position: relative;
    width: 100%;
    height: 833px;
    background: url(./images/image\ 26.png);
}
.Kids-banner1 {
  position: relative;
  width: 100%;
  height: 833px;
  background: url(./images/image\ 19.png);
}
.brands h1 {
  font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    position: relative;
    left: 163px;
    color: #101010;
}
.Brand-input {
  position: absolute;
    width: 265px;
    height: 34px;
    left: 263px;
    top: 55px;
    box-sizing: border-box;
    border-radius: 28.5px;
    background: none;
}
.Brand-search {
  position: absolute;
left: 74.18%;
right: 12.29%;
top: 64px;
bottom: 86.38%;
}
.Contact-banner {
    position: relative;
    width: 100%;
    height: 755px;
    background: url(./images/image\ 12.png);
}
.social-media-icon {
  padding-top: 30px;
}
.social-media-icon i {
  font-size: 20px;
  color: #BB8119;
}
.social-media-icon h6 {
  font-size: 18px;
  color: #000000;
}
.map-image {
  width: 100%;
  padding-top: 50px;
}
.home-banner {
  position: relative;
  width: 100%;
  height: 833px;
  background: url(./images/image\ 13.png);
}
.home-heading{
  position: absolute;
    width: 619px;
    height: 172px;
    left: 366px;
    top: 519px;
    background: rgba(0, 0, 0, 0.27);
}
.home-heading1{
  position: absolute;
    width: 619px;
    height: 172px;
    left: 366px;
    top: 519px;
    background: rgba(0, 0, 0, 0.27);
}
.home-heading2{
  position: absolute;
    width: 619px;
    height: 172px;
    left: 366px;
    top: 519px;
    background: rgba(0, 0, 0, 0.27);
}
.home-heading h1 {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 124.49%;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.home-heading p {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 162.49%;
text-align: center;
letter-spacing: 0.095em;
color: #FFFFFF;
}
.brands-section h3 {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 124.49%;
text-align: center;
letter-spacing: 0.02em;
color: #000000;
}
.brands-section {
  padding-top: 30px;
}
.brands-section .row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.Emporio {
  position: relative;
  top: 20px;
}
.womens-banner {
  position: relative;
  width: 100%;
  height: 833px;
  background: url(./images/image\ 6.png);
}
.womens-banner1 {
  position: relative;
  width: 100%;
  height: 833px;
  background: url(./images/image\ 17.png);
}
.womens-banner2 {
  position: relative;
  width: 100%;
  height: 833px;
  background: url(./images/womens\ banner.png);
}
.footer-row {
  padding-top: 30px;
}
.footer-row h5 {
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 162.49%;
color: #FFFFFF;
}
.footer-row p {
width: 293px;
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
color: #FFFFFF;
}
.social-insta {
  cursor: pointer;
}
.social-facebook {
  position: relative;
  left: 12px;
  cursor: pointer;
}
.social-youtube {
  position: relative;
  left: 24px;
  cursor: pointer;
}
.social-bell {
  position: relative;
  left: 36px;
  cursor: pointer;
}
.Social-media-header {
  position: absolute;
  top: 40px;
  left: 183px;
}
.footer-social-media {
  position: absolute;
  left: 6.94%;
  right: 91.78%;
  top: 93.09%;
  bottom: 5.84%;
  
  background: #FFFFFF;
}
.carrer-email {
  font-family: Helvetica Light;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 162.49%;
    color: #FFFFFF;
}
.locate {
  padding-left: 70px;
}
.locate p {
font-family: Helvetica Light;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 162.49%;
color: #FFFFFF;
}
.categories a{
font-family: Helvetica Light;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 162.49%;
color: #FFFFFF;
}
.categories ul {
  list-style-type: none;
  position: relative;
  left: -38px;
}
.Slider-jones {
width: 283px;
height: 125px;
left: 234px;
}
.brands-slider {
  padding-top: 30px;
  padding-bottom: 32px;
}
.Slider-armani {
  position: relative;
  top: 51px;
}
.Slider-ralph {
  position: relative;
  top: 32px;
}
.Slider-nike {
  position: relative;
  top: 30px;
}
.Slider-puma {
  position: relative;
  top: 26px;
}
.slick-arrow {
  color: #9B9B9B;
}
.brand-page {
width: 178px;
background: rgba(0, 0, 0, 0.27);
}
.vanity-bottom {
  position: relative;
  top: 387px;
  font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 162.49%;
background: #101010;
text-align: center;
}
.vanity-bottom p {
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
}
.brand-home {
width: 108px;
height: 44px;
background: rgba(0, 0, 0, 0.27);
padding-left: 5px;
}
.Women-banner {
  width: 222px;
  height: 71px;
  background: rgba(0, 0, 0, 0.27);
  padding: 8px 15px;
}
.Women-banner:hover {
  border-bottom: none !important;
  outline: none !important;
  text-decoration: none !important;
  overflow: hidden;
}
.Man-banner {
  width: 222px;
  height: 71px;
  background: rgba(0, 0, 0, 0.27);
  padding: 10px;
}
.Kid-banner {
  width: 222px;
  height: 76px;
  background: rgba(0, 0, 0, 0.27);
  padding: 9px 0 0 12px;
}
.Brands-brand {
  width: 222px;
  height: 76px;
  padding: 10px;;
  background: rgba(0, 0, 0, 0.27);
}
.your-name {
width: 287px;
height: 62px;
left: 417px;
border: 1px solid rgba(95, 95, 95, 0.4);
box-sizing: border-box;
margin-right: 22px;
}
.your-mail {
width: 287px;
height: 62px;
left: 736px;
border: 1px solid rgba(95, 95, 95, 0.4);
box-sizing: border-box;
}
.your-massage {
width: 597px;
height: 140px;
border: 1px solid rgba(95, 95, 95, 0.4);
box-sizing: border-box;
margin-top: 20px;
}
.submit-btn {
width: 597px;
height: 63px;
background: #000000;
border: 1px solid #BB8119;
box-sizing: border-box;
position: relative;
    left: 271px;
    margin: 21px 0px 50px 0px;
}
.submit {
width: 63px;
height: 32px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 162.49%;
text-align: center;
color: #FFFFFF;
background: #101010;
border: none;
padding-top: 10px;
}
.form ::placeholder {
width: 74px;
height: 29px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;

color: rgba(95, 95, 95, 0.85);
}
.form h4 {
height: 35px;
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 124.49%;
letter-spacing: 0.02em;
color: #000000;
position: relative;
margin-top: 35px;
}
.slick-prev:before,
.slick-next:before {
  color: black!important;
  font-size: 45px !important;
}
.slick-prev:before {
  color: black!important;
  font-size: 45px !important;
  margin-right: 30px !important;
  position: relative;
  right: 25px;
}
.sc div { text-align: center; }
.slick-track {
  display: flex;
  align-items: center;
  top: -3px !important;
}
.About-banner {
  width: 100%;
  height: 833px;
  top: 102px;
  background: url(./images/image\ 32.png);
  }
  .about {
    position: absolute;
width: 627px;
height: 172px;
left: 407px;
top: 436px;

background: rgba(0, 0, 0, 0.27);
  }
  .about h1 {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 42px;
line-height: 124.49%;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
  }
  .about p {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 124.49%;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
  }
  .About-us-content h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 162.49%;
    color: #000000;
  }
  .About-us-content p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    width: 737px;
    text-align: center;
    color: #484848;
    position: relative;
    left: 288px;
    padding-bottom: 50px;
  }
  .About-banner1 {
    width: 100%;
    height: 532px;
    top: 102px;
    background: url(./images/image\ 35.png);
    }
    .cards {
    width: 1206px;
    height: 370px;
    position: relative;
    top: 86px;
    background: rgba(16, 16, 16, 0.6);
    }
    .cards h3 {
      width: 234px;
      height: 65px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 162.49%;
      color: #FFFFFF;
    }
    .cards h5 {
      width: 155px;
      height: 45px;
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 162.49%;
      color: #BB8119
    }
    .cards p {
    width: 335px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 162.49%;
    color: #FFFFFF;
    }
    .cards span {
      color: #FFFFFF;
    }
      .slick-dots li.slick-active button:before{
        font-size:15px;
        color:orange !important;
      }
      .slick-dots button
      {
          font-size: 20px;
      }
      .slide {
        background-color: #ccc;
        padding: 10px;
        display: table-cell !important;
        float: left !important;
      }